.navbar {
    font-family: 'JetBrains Mono', monospace;
    background-color: #212529;
    position: fixed;
    bottom: 20px;
    width: 60%;
    text-align: center;
    padding: 8px 0;
    border-radius: 15px;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: space-around;
    left: 20%;
    backdrop-filter: blur(10px);
    height: 60px; /* Set a fixed height for the navbar */
    z-index: 99999;
}

/* subtitle config (text) */
.navbar a {
    display: inline-block;
    position: relative;
    color: #6C757D;
    text-decoration: none;
    white-space: nowrap;
    transition: color 0.3s;
    font-size: 16px;
    transition: color 0.3s;
}

.navbar a::after {
    content: attr(data-target);
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    background-color: #ced4da;
    color: #212529;
    padding: 5px 10px;
    border-radius: 5px;
    pointer-events: none; /* Ensure that the pseudo-element doesn't interfere with hover */
}

.navbar a:hover::after {
    opacity: 1;
    /* text appears */
}

/* end subtitle config (text) */

/* icons config */
.navbar i {
    font-size: 24px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    transition: transform 0.3s, font-size 0.3s;
}

.navbar a:hover i {
    transform: none; /* Remove the transform on hover */
    font-size: 28px; /* Increase the font size on hover */
    color: #ced4da;
    transition: font-size 0.3s; /* Add transition for font size only on hover */
}
.navbar a.active i {
  color: #ced4da;
  font-size: 30px;
}
/* end of icons config */

