<div class="contact-grid">
    <!-- Github Card -->
    <div class="card area-github" data-anime="up">
        <div class="card-body">
            <h4 class="card-title"><i class="bi bi-github"></i> GitHub:</h4>
            <div class="content-wrapper">
                <p class="card-text">{{ 'CONTACT-CARD-TEXT-3' | translate }}!</p>
                <div class="div-button">
                    <a href="https://github.com/iago-rhuda" target="_blank">
                        <button type="button" class="btn-action">
                            <i class="bi bi-github"></i> {{ 'ACCESS' | translate }}
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Linkedin Card -->
    <div class="card area-linkedin" data-anime="right">
        <div class="card-body">
            <h4 class="card-title"><i class="bi bi-linkedin"></i> Linkedin:</h4>
            <div class="content-wrapper">
                <p class="card-text">{{ 'CONTACT-CARD-TEXT-4' | translate }}.</p>
                <div class="div-button">
                    <a href="https://www.linkedin.com/in/iago-rhuda-ramos/" target="_blank">
                        <button type="button" class="btn-action">
                            <i class="bi bi-linkedin"></i> {{ 'ACCESS' | translate }}
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>