<!-- ***** TRANSLATIONS ***** -->
<app-switch-lang class="s"></app-switch-lang>

<!-- ***** NAVBAR ***** -->
<app-navbar class="navbar"></app-navbar>

<!-- ***** HOME SECTION ***** -->
<section id="HOME">
    <app-home></app-home>
</section>

<!-- ***** ABOUT SECTION ***** -->
<section id="ABOUT">
    <div class="container">
        <app-about></app-about>
    </div>
</section>

<!-- ***** QUALIFICATIONS SECTION ***** -->
<section id="QUALIFICATIONS">
    <div class="container">
        <app-qualifications></app-qualifications>
    </div>
</section>

<!-- ***** SKILLS SECTION ***** -->
<section id="SKILLS">
    <div class="container">
        <app-skills></app-skills>
    </div>
</section>

<!-- ***** PORTFOLIO SECTION ***** -->
<div id="PORTFOLIO">
    <app-slide></app-slide>
</div>

<!-- ***** ARTICLES SECTION ***** -->
<section id="ARTICLES">
    <div class="container">
        <app-articles></app-articles>
    </div>
</section>

<!-- ***** CONTACT SECTION ***** -->
<section id="CONTACT">
    <div class="container">
        <app-contact></app-contact>
    </div>
</section>