<!-- ***** TRANSLATIONS ***** -->
<app-switch-lang class="s"></app-switch-lang>

<!-- ***** NAVBAR ***** -->
<app-navbar class="navbar"></app-navbar>

<!-- ***** HOME SECTION ***** -->
<section id="HOME">
    <app-home></app-home>
</section>

<hr class="w-50 me-auto ms-auto">

<!-- ***** ABOUT SECTION ***** -->
<section id="ABOUT">
    <app-about></app-about>
</section>

<hr class="w-50 me-auto ms-auto">

<!-- ***** QUALIFICATIONS SECTION ***** -->
<section id="QUALIFICATIONS">
    <app-qualifications></app-qualifications>
</section>

<hr class="w-50 me-auto ms-auto">

<!-- ***** SKILLS SECTION ***** -->
<section id="SKILLS">
    <app-skills></app-skills>
</section>

<hr class="w-50 me-auto ms-auto">

<!-- ***** PORTFOLIO SECTION ***** -->
<section id="PORTFOLIO">
    <app-slide></app-slide>
</section>

<hr class="w-50 me-auto ms-auto">

<!-- ***** ARTICLES SECTION ***** -->
<section id="ARTICLES">
    <div class="container">
        <app-articles></app-articles>
    </div>
</section>

<hr class="w-50 me-auto ms-auto">




<hr class="w-50 me-auto ms-auto">

<!-- ***** CONTACT SECTION ***** -->
<section id="CONTACT">
    <app-contact></app-contact>
</section>