/* HOME CONFIG */
#HOME {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'JetBrains Mono', monospace;
}

/* END OF HOME CONFIG */

/* ABOUT ME CONFIG*/
#ABOUT {
    font-family: 'JetBrains Mono', monospace;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

/* END OF ABOUT ME CONFIG */

/* QUALIFICATIONS CONFIG */
#QUALIFICATIONS {
    font-family: 'JetBrains Mono', monospace;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

/* END OF QUALIFICATIONS CONFIG */

/* SKILLS CONFIG */
#SKILLS {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

/* END OF SKILLS CONFIG */

/* PORTFOLIO CONFIG */
#PORTFOLIO {
    font-family: 'JetBrains Mono', monospace;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

/* END OF PORTFOLIO CONFIG */

/* ARTICLES CONFIG */
#ARTICLES {
    font-family: 'JetBrains Mono', monospace;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

/* END OF ARTICLES CONFIG */

/* CURRICULUM CONFIG */
#CURRICULUM {
    font-family: 'JetBrains Mono', monospace;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

/* END OF CURRICULUM CONFIG */

/* CONTACT CONFIG */
#CONTACT {
    font-family: 'JetBrains Mono', monospace;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

/* END OF CONTACT CONFIG */