<div class="timeline-container" data-anime="up">

    <!-- UTC (France) -->
    <div class="timeline-item">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
            <span class="date">2025 - {{ 'IN PROGRESS' | translate }}</span>
            <h3 class="school">Université de Technologie de Compiègne (UTC)</h3>
            <h4 class="degree">{{ 'DOUBLE DEGREE' | translate }} - {{ 'UTC_DEGREE' | translate }}</h4>
            <p class="location"><i class="bi bi-geo-alt-fill"></i> {{ 'FRANCE_COUNTRY' | translate }}</p>
        </div>
    </div>

    <!-- PUCPR (Brazil) -->
    <div class="timeline-item">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
            <span class="date">2022 - {{ 'IN PROGRESS' | translate }}</span>
            <h3 class="school">Pontifícia Universidade Católica do Paraná (PUCPR)</h3>
            <h4 class="degree">{{ 'BACHELOR' | translate }} - {{ 'COMPUTER ENGINEER' | translate }}</h4>
            <p class="location"><i class="bi bi-geo-alt-fill"></i> {{ 'BRAZIL' | translate }}</p>
        </div>
    </div>

    <!-- CEEP (Technical) -->
    <div class="timeline-item">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
            <span class="date">2018 - 2021</span>
            <h3 class="school">Centro Estadual de Educação Profissional de Curitiba (CEEP)</h3>
            <h4 class="degree">{{ 'EDIFICATION' | translate }}</h4>
            <p class="location"><i class="bi bi-geo-alt-fill"></i> Curitiba, {{ 'BRAZIL' | translate }}</p>
        </div>
    </div>

</div>